<div id="userNav">
  <h2>You are not connected, join us !!</h2>
</div>
<img src="/images/gatito.jpg" alt="gatito" /><br />
<div class="anchors">
<a class="button" href="/">Home</a>
<a class="button" href="/user/login">Log In</a>
<a class="button" href="/user/singin">Are you not registered ?</a>
</div>