<div id="userNav">
  <h2>Your are {{username}} rigth now !</h2>
</div>
<img src="/images/200.webp" alt="" />
<br />
<div class="anchors">
<a class="button" href="/">Home</a>
<a class="button" href="/user/logout">Log out</a>
</div>